@import '../../App.scss';

.accordion {
  list-style-type: none;
  padding: 0px;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  
  .button {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
    border: transparent;
    border-radius: 15px;
    background-color: transparent;
  }
}


.accordion-item.active .button {
  background-color: transparent;
}
.transaction-wrapper {
  height: 0;
  overflow: hidden;
  
}
.transaction-wrapper.open {
  height: auto;
}



.income-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  flex-direction: column;
}