.popup-box {
  position: fixed;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 

  
  .edit-form {
    position: relative;
    width: 50%;
    margin-left: 250px;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      margin-top: 20px;
      margin-bottom: 10px;
      height: 30px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;

    #save {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.8px solid #4CAF50;
      color: #4CAF50;
      border-radius: 10px 0 10px 0;
      width: 8.4vw;
      height: 3.2vw;
      cursor: pointer;
      font-weight: bold;
    }

    #save:hover {
      background-color: #4CAF50;
      color: white;
      transition: 0.3s;
    }
    
    #cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.8px solid #cd1717;
      color: #cd1717;
      border-radius: 10px 0 10px 0;
      width: 8.4vw;
      height: 3.2vw;
      cursor: pointer;
      font-weight: bold;
    }

    #cancel:hover {
      background-color: #cd1717;
      color: white;
      transition: 0.3s;
    }
  }

}
 