@import '../../App.scss';
@import "~bootstrap/scss/bootstrap";

.accordion {
  --bs-accordion-bg: transparent;
  color: whitesmoke;
  --bs-accordion-btn-focus-box-shadow: transparent;
}

.accordion-button {
  padding: 0px;
}

.accordion-button:not(.collapsed) {
  color: whitesmoke;
  background-color: transparent;
}

.income {
  display: flex;
  background: linear-gradient(0deg, rgb(106, 159, 124) 0%, rgb(143, 209, 165) 100%);
  padding: 20px 40px;
  border-radius: 15px;
  margin-top: 50px;
  width: 70%;
  color: whitesmoke;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
  }

  .income-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    flex-direction: column;
  }
}