@import '../../App.scss';

.budget {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 1000px;

  svg {
    height: 500px;
  }

  .income {
    display: flex;
    background: linear-gradient(0deg, rgb(106, 159, 124) 0%, rgb(143, 209, 165) 100%);
    padding: 20px 40px;
    border-radius: 15px;
    margin-top: 50px;
    width: 70%;
    color: whitesmoke;
    flex-direction: column;
  
    header {
      display: flex;
      justify-content: space-between;
    }
  }

  .remainder {
    display: flex;
    background: linear-gradient(0deg, rgb(106, 159, 124) 0%, rgb(143, 209, 165) 100%);
    padding: 20px 40px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    color: whitesmoke;
    flex-direction: row;
    flex-direction: column;
    align-items: center;

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

}


