@import '../../App.scss';

.budget {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .expense-list {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(106, 159, 124, 1) 0%, rgba(143, 209, 165, 1) 100%);
    padding: 20px 40px;
    border-radius: 15px;
    align-items: center;
    color: whitesmoke;
    margin-top: 50px;
    width: 50%;

    
    ul {
      padding: 0;
      margin-top: 0;
      
      .expense-header {
        display: flex;
        justify-content: space-between;
        margin-top: 0;

        h2 {
          margin-top: 0;
        }
      }

      .category-item {
        display: flex;
        justify-content: space-between;
        color: black;
        background-color: white;
        margin-bottom: 10px;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
  
        .dropdown {
          color: $maincolor
        }
      }
    }

  }
}