$maincolor: #A8DCB9;
$primary: #E4F9F5;
$secondarycolor: #FAA381;
$icons: #05648A;

.top-spending {
  display: flex;
  width: 75%;
  padding: 30px 0px;
  justify-content: space-evenly;
  margin-bottom: 50px;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px, 20px;

    .icon {
      height: 50px;
      width: 50px;
      color: $secondarycolor;
  
      svg {
        height: 50px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

}