$maincolor: #A8DCB9;
$primary: #E4F9F5;
$secondarycolor: #FAA381;
$icons: #05648A;

.top-spending {
  display: flex;
  width: 50%;
  padding-bottom: 30px;
  padding-top: 30px;
  justify-content: space-evenly;
  margin-bottom: 60px;
  color: #8b8b8b;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(2px 4px 6px #05648a42);


  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px, 20px;

    .icon {
      height: 50px;
      width: 50px;
      color: $secondarycolor;
  
      svg {
        height: 50px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

}