$maincolor: #A8DCB9;
$primary: #E4F9F5;
$secondarycolor: #FAA381;
$icons: #05648A;

html {
  background-color: $primary;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: $primary;
  width: 100%; //added by TM to center the page
}

.progressBar {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 800px;
  height: 80px;
}

.plant {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  margin: 5px;
  border-radius: 15px;
  color: #000000;

}

.plant-img {
  background-color: $maincolor;
  border-radius: 25%;
  margin-top: 10px;
}

.banner {
  // background-color: $maincolor;
  display: flex;
  justify-content: center;
  // width: 800px;
  width: 95%;
  height: 50px;
  font-size: 32px;
  // color: white;  
  color: $icons;
  // border-radius: 15px;
  border-bottom: $icons solid 1px;
}

#id {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: $primary;
  // height: 100vh; --needs this removed so navbar can go all the way down
  width: 80vw;
  flex-direction: row;



  .buttonPulse {
    font-size: 40px;
    color: $maincolor;
  }
}

.addNew {
  display: flex;
  font-size: 32px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: $maincolor;
  border-radius: 15px;


}

.addNew:hover {
  background-color: $secondarycolor;
}

.innerbutton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: $maincolor;
  display: flex;
  align-items: center;
  height: 150px;

}

.goalName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
}

.tAmount {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

.gAmount {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

.edits {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
}

.amounts {
  display: flex;
  justify-content: space-between;
  width: 750px;
}

.modalContainer {
  color: icons;
  border-radius: 15px;
  background-color: $icons;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $icons;
  border-style: solid;
  border-width: 10px;
  
    
}

.closeBtn {
  position: absolute;
  right: 350px;
  top: 70px;
}

