$maincolor: #8fd1a5;

// .App {
//   display: flex;
//   flex-direction: column;
//   width: 250px;
//   height: 100vh;
//   background: rgb(106, 159, 124);
//   background: linear-gradient(0deg, rgba(106, 159, 124, 1) 0%, rgba(143, 209, 165, 1) 100%);
// }

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 100vh;

  background: linear-gradient(0deg, rgba(106, 159, 124, 1) 0%, rgba(143, 209, 165, 1) 100%);
  // border: 220px;
  padding: 15px 32px;
  padding-top: 50px;
  font-size: 16px;
  color: white;


  .logo {
    display: flex;
    max-width: 200px;
    max-height: 200px;

    img{
      max-width: 250px;
    }
  }
  
  .navButton {
    background-color: maincolor;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    border-radius: 15px;
    text-decoration: none;

    
  }
  .navButton:hover {
    background-color: #547860;

  }

  a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }

}