.App{
  display: flex;
  flex-direction: column;
  background: rgb(1,108,56);
  background: linear-gradient(90deg, rgba(1,108,56,1) 0%, rgba(143,209,165,1) 35%);
}

nav{
 color: violet

}

.Summary{
  color: azure;
}