$maincolor: #8fd1a5;


.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.progressBar{
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 800px;
}

.plant{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #27392d;
  margin: 5px;
  border-radius: 30px;
  color: #ffffff;
}

.plant-img{
  background-color: #8fd1a5;
  border-radius: 25%;
  margin-top: 10px;
}

.banner{
  background-color: $maincolor;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 50px;
  font-size: 40px;
  color: white;
  border-radius: 15px;
}

#id{
  display: flex;
  flex-direction: row;
}

.container{
  background-color: #ffffff;
  height: 100vh;
  width: 80vw;
  flex-direction: row;


  
.buttonPulse{
  font-size: 40px;
  color: $maincolor;
}
}

.addNew{
  display: flex;
  font-size: 40px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: $maincolor;
  border-radius: 100px;
  max-width: 1000px;

}
.addNew:hover{
  background-color: #27392d;
}

.innerbutton{
  font: 60px;
  background-color: $maincolor;
  display: flex;
  align-items: center;
  height: 150px;

}

.goalName{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.tAmount{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.gAmount{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.edits{
  display: flex;
  width: 100%;
  justify-content:space-between;
  font-size: 20px;
}

.amounts{
  display: flex;
  justify-content:space-between;
  width: 50px;
}