$maincolor: #A8DCB9;
$primary: #E4F9F5;
$secondarycolor: #FAA381;
$icons: #05648A;

.account-balance {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px 20px;
  border-radius: 15px;
  align-items: stretch;
  margin-top: 50px;
  width: 80%;
  color: $icons;
  filter: drop-shadow(2px 4px 6px #05648a42);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $icons;
    transition: transform 0.3s ease-in-out;

    h3 {
    font-size: 20px;
    margin-bottom: 10px;
    }

    .info {
      display: flex;
      flex-direction: row;
      height: 20px;
      align-items: center;

      p {
        text-align: center;
        color: #8b8b8b;
        font-size: 12px;
        padding-right: 20px;
      }

      button {
        cursor: pointer;
        border: #05648a43 0.5px solid;
        border-radius: 10px 0 10px 0;
        padding: 0px 10px;
        transition: all 0.5s ease-in-out;
        background-color: $icons;
        color: white;
        font-weight: bold;
        min-height: 25px;
        max-height: 25px;


        &:hover {
          filter: drop-shadow(1px 1px 4px #05648a43);
          transform: scale(1.1);
        }
      }
    }
  }

  a {
    padding: 10px;
    border: none;
    font-size: 16px;
  }
}
