@import '../../App.scss';
$maincolor: #a7dcb9;
$primary: #E4F9F5;
$secondarycolor: #FAA381;
$icons: #05648A;

.account {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
  justify-content: space-between;
  background-color: white;
  color: rgba(0, 0, 0, 0.643);


  .name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
  }

  .balance {
    text-transform: uppercase;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.842);
    font-size: 14px;
  }

};
